<div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-md-offset-2">
    <form class="form-horizontal">

        <div data-ng-show="totalRecordsCount > 0">
        <!--<div>-->

            <ul class="list-group" data-ng-repeat="pizza in pizzas">
                <li class="list-group-item">
                    <div class="row">
                     <!--   <div class="col-xs-2 col-md-1">
                            <img data-ng-src="{{pizza.image}}" title="pizzaImage" class="venueIcon" />
                        </div>-->
                             <div class="col-xs-6 col-md-8">
                            <a href="" >
                                   <h2 class="venueName">{{pizza.name}}</h2>
                               </a>
                           </div>
                        <div class="col-xs-4 col-md-3">
                            &nbsp;
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2 col-md-1">
                            <span class="badge">{{pizza.price}}$</span>
                        </div>
                        <div class="col-xs-6 col-md-8">
                            <p class="text-warning"><small> Weight: {{pizza.weight}} g.</small></p>
                            <p>{{pizza.description}}</p>
                            <hr class="seperator" />

                            <a ng-if="isAuth()" href="" data-ng-click="addToBucket(pizza)"><span class="glyphicon glyphicon-bookmark"></span>Add to bucket</a>
                           <!-- <a ng-if="isAuthenticated()" href="" data-ng-click="addToBucket(pizza)"><span class="glyphicon glyphicon-bookmark"></span>Add to bucket</a>-->
                        </div>
                        <div class="col-xs-4 col-md-3">
                            <a href="">
                                <img data-ng-src="{{pizza.image}}" class="img-thumbnail" /></a>
                    </div>
                    </div>

                </li>
            </ul>
        </div>
        <div class="row">

            <div class="col-md-offset-2 col-md-8 col-md-offset-2 text-center">
                <div data-ng-show="totalRecordsCount > 0">
                    <div>
                        <div data-pagination="" data-previous-text="<" data-next-text=">" data-first-text="<<" data-last-text=">>"
                             data-on-select-page="pageChanged(page)" data-total-items="totalRecordsCount" data-page="currentPage"
                             data-boundary-links="true" class="pagination pagination-sm" data-max-size="5" data-rotate="false" data-items-per-page="10">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>
<!--
<div class="container-fluid">

    <div class="col-md-10">
        &lt;!&ndash;Body content&ndash;&gt;

        <ul class="phones">
            <li ng-repeat="pizza in pizzas | filter:query ">
                class="thumbnail phone-listing">
               <a href="#/phones/{{phone.id}}" class="thumb"><img ng-src="{{phone.imageUrl}}">
                <a href="#/phones/{{phone.id}}">{{pizza.name}}</a>
                <p>{{pizza.description}}</p>
                <p>{{pizza.price}}</p>
            </li>
        </ul>

    </div>
</div> &lt;!&ndash; End container-fluid &ndash;&gt;-->
<!--
<ul class="phones">
    <li ng-repeat="pizza in pizzas | filter:query ">
        <div class="item">

                    <div class="img rel">
                        <a class="name" href="/kiev/menu-dostavki/italian/pizza/pepperoni/">
                            <img src="{{pizza.image}}" alt="piiza_image" title="Pepperoni">

                        </a>
                    </div>

                    <div class="info">
                        <a class="name" href="/kiev/menu-dostavki/italian/pizza/pepperoni/">{{pizza.name}}</a>
                        <p>{{pizza.description}}</p>
                        <div class="footer">
                            <div class="features">

                                &lt;!&ndash;<span class="wt">530 <span>г.</span></span>&ndash;&gt;


                            </div>
                            <strong class="price">{{pizza.price}} <span>$.</span></strong>



                            <a class="btn-add2" href="/kiev/menu-dostavki/add_to_cart/2894/">Add to bucket</a>
                        </div>
                    </div>


        </div>

    </li>
</ul>-->
